#oops {
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#oops-body {
  width: 30em;
}

#oops h1 {
  font-weight: 300;
}

#oops-subtitle {
  color: #888;
}

.rtf.open .rtf--ab__c > span {
  transition: ease-in-out opacity 0.2s;
  opacity: 0.9; }

.footer{ 
  border-top: 1.5px solid #888;
  background-color: #ffffff;
  position:fixed; 
  bottom:0; 
  width:100%;
  }